header{
    background-color: rgba(0,0,0,0.5);
}
.banner{
    width: 100%;
    height: 860px;
    background: #fff url("../resource/major/banner_01.png") no-repeat top center;
    background-size: cover;
}

@media screen and (max-width: 1366px){
    .banner{
        height: 620px;
    }
}
@media screen and (max-width: 768px){
    .banner{
        height: 200px;
    }
}

/*===============menu================*/
.left-menu{
    width: 20%;
    display: inline-block;
    float: left;
    border-right: 1px solid #E1E1E1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu-title{
    text-align: center;
    font-size: 24px;
    color: #8F8F8F;
    font-weight: bold;
    padding: 50px 0 20px;
    background: url("../resource/major/line_bg.png") no-repeat right bottom;
}
.menu{
    padding: 25px 0;
    background: url("../resource/major/line_bg.png") no-repeat right bottom;
    border-bottom: 2px solid #fff;
    margin-right: -1px;
    margin-left: 30%;
    line-height: 18px;
    cursor: pointer;
}
.menu .cir{
    display: inline-block;
    padding-left: 30px;
    background: url("../resource/major/cir_0.png") no-repeat left center;
}
.menu.active{
    padding: 25px 0 34px;
    color: #2C7FD4;
    background: url("../resource/major/line_active.png") no-repeat right bottom;
}
.menu.active .cir{
    background: url("../resource/major/cir_1.png") no-repeat left center;
}
.menu:hover{
    color: #2C7FD4;
}
@media screen and (max-width: 768px){
    .menu .cir{
        background: none;
    }
    .menu.active .cir{
        background: none;
    }
    .menu-title{
        font-size: 16px;
        padding: 20px 0 20px;
    }
    .menu{
        padding: 25px 0;
        margin-left: 0;
    }
    .menu .cir{
        margin-left: 5px;
        padding-left: 5px;
    }
}
/*================right-cont==============*/
.right-cont{
    width: 80%;
    float: right;
}
.video{
    width: 40%;
    margin: 15px;
    overflow: hidden;
    display: inline-block;
    float: left;
    padding: 5px;
    border: 1px solid #124F6C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.img-box{
    position: relative;
    overflow: hidden;
}
.play-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(54,54,54,0.1);
}
.play-icon .play_ico_btn{
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    transition: all 0.3s;
}
.play-icon:hover .play_ico_btn{
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}
.video-img{
    width: 100%;
    float: left;
}
.video-info{
    font-size: 18px;
    color: #777;
    line-height: 40px;
    margin-bottom: 10px;
    height: 40px;
}
.cover{
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    background: rgba(120,120,120,0.7);
    visibility: visible;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 100;
}
.code-box{
    /*width=112px;*/
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -56px;
    margin-top: -56px;
    padding: 6px;
    background: #fff;
    border-radius: 5px;
    z-index: 99;
}
.code-img{
    width: 90px;
}
.info{
    padding: 7px 10px;
    background: #F4B81A;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: -40px;
}


@media screen and (min-width: 1367px){
    .code-img{
        width: 110px;
    }
    .info{
        padding: 7px 12px;
        font-size: 14px;
        bottom: -40px;
    }
}
@media screen and (max-width: 768px){
    .video{
        width: 45%;
        margin: 5px 0 5px 5px;
    }
    .video-info{
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 5px;
        word-break:break-all;
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        overflow:hidden;
    }
    .play-icon img{
        position: absolute;
        display: inline-block;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: -16px;
    }
}

